# GitHub Personal Access Tokens
# Each token provides 1,000 requests/hour
# Total: 10 tokens = 10,000 requests/hour
GITHUB_TOKEN_1= # github_pat_xxx
# GITHUB_TOKEN_2=github_pat_xxx
# GITHUB_TOKEN_3=github_pat_xxx
# GITHUB_TOKEN_4=github_pat_xxx
# GITHUB_TOKEN_5=github_pat_xxx
# GITHUB_TOKEN_6=github_pat_xxx
# GITHUB_TOKEN_7=github_pat_xxx
# GITHUB_TOKEN_8=github_pat_xxx
# GITHUB_TOKEN_9=github_pat_xxx
# GITHUB_TOKEN_10=github_pat_xxx
# GITHUB_TOKEN_11=github_pat_xxx
# GITHUB_TOKEN_12=github_pat_xxx
# GITHUB_TOKEN_13=github_pat_xxx
# GITHUB_TOKEN_14=github_pat_xxx
# GITHUB_TOKEN_15=github_pat_xxx
# GITHUB_TOKEN_16=github_pat_xxx
# GITHUB_TOKEN_17=github_pat_xxx
# GITHUB_TOKEN_18=github_pat_xxx
# GITHUB_TOKEN_19=github_pat_xxx
# GITHUB_TOKEN_20=github_pat_xxx
# add more tokens if needed, the minimum is 1 token

# Other API Keys
deepseek_api_key= # sk-xxx
openai_api_key= #sk-proj-xxx

discord_webhook_url= # optional, discord webhook url to send notifications 